<div class="container my-4">
  <div class="col">
    <div class="row">
      <h1 class="text-center">Règles du jeu</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ipsum
        ligula, auctor a elementum id, consequat non tellus. Orci varius natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Aenean efficitur libero velit, nec ornare dolor malesuada et. Nunc non
        congue dui. Sed sit amet risus vitae mi feugiat tincidunt in in tortor.
        Ut mattis accumsan lectus, ac vehicula ante viverra tincidunt. Class
        aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos. In neque quam, laoreet at risus a, vulputate sodales
        nunc. Integer non ante mi.
      </p>
      <p>
        Sed quam arcu, tristique nec aliquam eu, congue a nunc. Quisque id
        dictum est. Sed ac mollis tellus. Ut pulvinar semper ipsum eget dictum.
        Duis sit amet nisi vestibulum, molestie odio lacinia, dapibus quam.
        Etiam iaculis iaculis scelerisque. Class aptent taciti sociosqu ad
        litora torquent per conubia nostra, per inceptos himenaeos.
      </p>
      <p>
        Duis et iaculis nulla. Donec volutpat gravida nulla, id accumsan lacus.
        Pellentesque erat metus, tempor sed diam at, feugiat maximus orci.
        Vivamus semper viverra suscipit. Quisque quis enim interdum, gravida
        purus elementum, varius ex. Nam finibus enim in turpis fringilla rutrum.
        Fusce consectetur semper blandit. In ornare urna eu erat auctor
        lobortis. Integer erat diam, pharetra ut eleifend in, tempus eu lacus.
        Mauris volutpat ut nisl vitae faucibus. Etiam cursus sapien vel eros
        condimentum scelerisque. Aenean sed mauris suscipit, pharetra ipsum non,
        gravida erat. Nullam molestie vitae nunc ac efficitur.
      </p>
      <p>
        Suspendisse auctor nunc in leo molestie, et scelerisque enim porttitor.
        Morbi blandit eleifend diam, eget placerat magna cursus quis. Nulla
        lacinia neque sodales urna fringilla tincidunt. Vivamus pellentesque,
        nunc vitae vulputate fermentum, nisi ante aliquam nisi, at vehicula
        tortor urna at odio. Pellentesque vitae nisl nec lectus pretium ornare
        nec pretium sapien. Nulla rutrum nibh rhoncus nibh posuere accumsan.
        Cras eu blandit dolor. Class aptent taciti sociosqu ad litora torquent
        per conubia nostra, per inceptos himenaeos. Etiam scelerisque faucibus
        augue, finibus condimentum dolor vulputate ut. Etiam magna diam, posuere
        ut cursus sit amet, imperdiet ac diam. Morbi pharetra est nec mauris
        convallis accumsan. Etiam at lectus nec ligula vestibulum pretium a a
        leo. Sed ornare finibus nisl, ut blandit nibh malesuada vitae. Sed at
        luctus ipsum, at pharetra enim.
      </p>
    </div>
    <div class="row">
      <button (click)="launchGame()" class="btn btn-primary btn-lg btn-block" type="button">
        Lancer le jeu
      </button>
    </div>
  </div>
</div>
