<app-carte-jeu
  title="titre test"
  question="En faisant vos courses, vous avez une envie subite des toasts à l'avocat. Vous arrivez au stand des avocats et vous lisez la notice suivante 'AVOCATS DE MEXIQUE 1,5e la pièce'. Est-ce que vous en achetez ?"
  image="../../assets/img/imagetest.svg"
  [reponse]="listeReponse"
  info="Déplacement géographique : La culture de l'avocat nécessite de nouvelles exploitations agricoles, entraînant le déplacement de végétation essentielle et contribuant à la déforestation, notamment dans des régions telles que l'Amérique centrale et l'Amérique du Sud."
></app-carte-jeu>

<router-outlet></router-outlet>
